.node {
  display: block;
  font: 20px;
  border-radius: 2px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.selected {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 2px;
}
